<div *ngIf="message.body" style="color:red;" class="alert toast-{{message.type}} alert-dismissible" role="alert">
    <button type="button" (click)="dismiss()" class="close" style="color:white;" data-dismiss="alert" aria-label="Close">
            <span style="color:white;" aria-hidden="true">&times;</span>
          </button>
    <div>
        <div class="pull-left" style="margin-right: 10px;">
            <i *ngIf="message.type == 'success'"></i>
            <!-- <i *ngIf="message.type == 'danger'" class="fa fa-2x fa-check"></i> -->
            <i *ngIf="message.type == 'error'" ></i>
          </div>
          <div>
            <p>{{message.body}} </p>
          </div>
    </div>
  </div>