#user-list{
    width: 100%;
    height: 500px;
    background: white;
    margin: 10px 0px;
}

.image-div{
    width:35%;
    background: yellow;
    height: inherit;
    float:left;
}

.text-div{
    width:65%;
    background: green;
    height: inherit;
    display:inline-block;
}

.image{
    padding: 5%;
    width:90%;
    height: 50%;
    border-radius: 50%;
}