#user-list{
    width: 100%;
    height: 25%;
    background: white;
    margin: 10px 0px;
}

.image-div{
    width:20%;
    height: 100%;
    float:left;
}

.text-div{
    width:80%;
    height: 100%;
    float:right;
    display:block;
    padding: 5%;
}

.image{
    padding: 5%;
    width:90%;
    height: 50%;
    border-radius: 50%;
}

.card-text{
    float: left;
    width:100%;
    overflow-wrap: break-word;
}

.details-button{
    float:right;
}